*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: black;
    color: white;
    align-items: center;
}
#nav-list{
    display: flex;
    gap: 20px;
}
button{
    
    border: none;
    width: 75px;
    height: 30px;
    border-radius: 25px;
}
input::placeholder{
    text-align: center;
}
input{
    height:30px ;
    border-radius: 25px;
}
button:hover{
    cursor: pointer;
    background-color: black;
    border: 1px solid white;
    color: white;
}
nav:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 1%;
}

.card{
    background-color: rgba(0, 0, 0, 0.872);
    color: white;
    border-radius: 25px 25px 25px 25px;
    width: 400px;
}
img{
    width:400px;
    border-radius: 25px 25px 0 0 ;
}
.card-content>button{
   margin: 2%;
}
.card-content{
    padding: 1%;
}
p{
    text-align: center;
    padding: 2%;
}
.card-container{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1%;
}
body{
   background-repeat: no-repeat;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmLoSD_cyo7GKyXulg7L6Og1GHLnO_qmynj0ZTPeGBO6Cr0OXSMGlYEwZp2xHnA4NR8q8&usqp=CAU");
    background-size: cover;
}
@media screen and (max-width: 450px) {
   header{
   
    display: block;
   }
 #nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.search-nav{
    display: flex;
        justify-content: center;
        align-items: center;
}
p{
    font-size: large;
    font-weight: bold;
    line-height: 1.5;
}
}